import styles from "./styles.module.scss";

const {{pascalCase compound-name}} = ()  => {
  return (
    <div className={styles.anyclass}>
      content here!
    </span>
  );
}

{{pascalCase compound-name}}.displayName = '{{pascalCase name}}.{{pascalCase compound-name}}'
export default {{pascalCase compound-name}}